# Bootstrap
#app/bootstrap*


# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# doctrine entities generation backup
*.php~

# Configuration files
#app/config/parameters.ini
#app/config/parameters.yml


# Composer
composer.lock
#composer.phar


