<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-us" dir="ltr" xmlns:bi="urn:schemas-XXX-com:mscom:bi">
<head>
<title></title>
<style>
html, body, form, div, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
	margin: 0px;
	padding: 0px;
}
.pageIntro {
	margin: 0.7em auto 0px;
	border: 0px solid rgb(73, 96, 119);
	width: 100%;
	background-color: rgb(255, 255, 255);
}
.pageIntro {
	margin: 0.7em auto 0px;
	border: 0px solid rgb(73, 96, 119);
	width: 100%;
	background-color: rgb(255, 255, 255);
}
div.main-content {
	margin-bottom: 20px;
	min-height: 555px;
	_height: 555px;
}
div.stage-content {
	padding-right: 20px;
	padding-left: 20px;
}
div.stage-content {
	padding: 0px;
}
div.stage {
	margin: 0px auto;
	width: 960px;
	position: relative;
	z-index: 1;
}
div.stage {
	_height: 100%;
}
div.stage {
	padding: 0px 40px;
	width: 916px;
}
html, body {
	height: 100%;
}
body {
	width: 100%;
	min-height: 25px;
	_height: 400px;
}
body {
	color: rgb(0, 0, 0);
	background-color: rgb(236, 236, 236);
}
body, input {
	font-size: 100%;
}
body, select {
	font-family: Segoe UI,Arial,Verdana,Tahoma,sans-serif;
}
body {
	background-color: rgb(255, 255, 255);
}
.PsTitle {
	color: rgb(182, 59, 0) !important;
	font-family: Segoe UI,sans-serif;
	font-size: 2em;
	margin-right: 0.3em !important;
	margin-left: -0.02em;
	vertical-align: top;
	display: inline-block;
}
#short_div {
	padding-top: 1em;
}
#short_div {
	padding-top: 1em;
}
.Description {
	width: 100%;
	color: rgb(82, 77, 82);
	line-height: 1.5em;
	padding-top: 0em;
	padding-bottom: 0.5em;
	font-family: Segoe UI,sans-serif;
	font-size: 0.78em;
	font-weight: normal;
	margin-top: 0.5em;
}
.Description {
	width: 100%;
	color: rgb(82, 77, 82);
	line-height: 1.5em;
	padding-top: 0em;
	padding-bottom: 0.5em;
	font-family: Segoe UI,sans-serif;
	font-size: 0.78em;
	font-weight: normal;
	margin-top: 0.5em;
}
a:link, a:visited {
	text-decoration: none;
}
</style>
</head>
<body class=" " bi:type="oneMscomMaster"><form name="aspnetForm" id="aspnetForm" action="default.aspx" method="post"><div class="stage"><div class="stage-content" id="top" style="display: block;"><div class="main-content"><div xmlns:user="urn:my-scripts" xmlns:msxsl="urn:schemas-XXX-com:xslt" height="100%" width="100%"><div class=" " id="divJsEnabled"><div><div class="pageIntro"><div class="PsTitle"><span>       XXX.com Privacy Statement    </span></div><div id="short_div" style="text-align: justify;"><label class="Description">       <p align="justify" style="margin: 0px; line-height: 1.5em; padding-top: 0.5em;">      This privacy statement applies to XXX.com and XXX websites, services and products that collect data and display these terms, as well as their offline product support services.      It does not apply to XXX sites, services and products that do not display or link to this statement or that have their own privacy statements.      </p>      <p align="justify" style="margin: 0px; line-height: 1.5em; padding-top: 0.5em;">      Please read the summaries below and click on "Learn More" for more details on a particular topic. You may also select from the products listed above to view that product's      privacy statement. Some products, services or features mentioned in this statement may not be available in all markets. You can find more information on XXX's      commitment to protecting your privacy at      <a title="http://localhost/privacy" id="LNK019" style="text-decoration: underline;" href="http://localhost/privacy" target="_blank">http://localhost/privacy</a>.      </p>    </label></div></div></div></div></div></div></div></div></form></body>
</html>

