{% block recaptcha %}
<script type="text/javascript">
var RecaptchaOptions = {
  theme : 'custom',
  custom_theme_widget: 'recaptcha_widget'
};
</script>
<div id="recaptcha_widget">
  <a title="Get another CAPTCHA" href="javascript:Recaptcha.reload()"><div id="recaptcha_image"></div></a>
  <div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</div>
  <!-- <span class="recaptcha_only_if_image">Prove you’re not a robot</span> -->
  <span class="recaptcha_only_if_audio">Enter the numbers you hear:</span>
  <input type="text" class="form-control" id="recaptcha_response_field" name="recaptcha_response_field" placeholder="Type the text" />
  <!-- <div><a href="javascript:Recaptcha.reload()">Get another CAPTCHA</a></div>
  <div class="recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')">Get an audio CAPTCHA</a></div>
  <div class="recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')">Get an image CAPTCHA</a></div>
  <div><a href="javascript:Recaptcha.showhelp()">Help</a></div> -->
 </div>
{% endblock %}
