{% extends "AcmeUserBundle::layout.html.twig" %}

{% block title 'Profile' %}

{% block profile %}            
<!-- Profile -->
<li class="active"><a href="{{ path('user_profile') }}">View profile</a></li>
<!-- ./ Profile -->
{% endblock %}

{% block body %}

<div>
<label>last login at</label>
{% if app.user.lastSigninAt %}
{{ app.user.lastSigninAt|date("m/d/Y H:i:s")}}
{% endif %}
</div>
<div><a href="{{ path('change_password') }}">change password</a></div>

{% endblock %}
