{% extends "AcmeUserBundle::layout.html.twig" %}

{% block title 'User Bundle' %}

{% block body %}

<div><label>last login at</label> {{ app.user.lastSigninAt|date("m/d/Y H:i:s")}}</div>
<div><a href="{{ path('change_password') }}">change password</a></div>

{% endblock %}
