{% extends 'AcmeBoardBundle::layout.html.twig' %}

{% block nav%}{% endblock %}
{% block body %}
 <div class="jumbotron">
  <h1>Demo</h1>
  <p></p>
  <p><a href="{{ path('module_index') }}" class="btn btn-primary btn-lg" role="button">Board</a></p>
</div>
{% endblock %}


