{% extends 'AcmeBoardBundle::layout.html.twig' %}

{% block body %}
 
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}

Hello {{ name }}!
<p>Username: {{ app.user.username }}</p>

{% endblock %}
