<form action="{{ path('resetting_send_email') }}" method="POST">
  <div class="form-group {{ invalid_username is defined ? 'has-error': null }}">
    {% if invalid_username is defined %}
    <p class="text-danger">invalid_username {{ invalid_username }}</p>
    {% endif %}
    <label for="username" class="control-label">Username or email</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username or email" required="required" />
  </div>
  <div>
    <input type="submit" class="btn btn-primary" value="submit" />
  </div>
</form>
